In [1]:
import pandas as pd

In [2]:
#for yfinance as one large combined csv and google trends combined csv

def calculate_correlations(yfinance_file, google_trends_file, tickers):
    correlations = {}

    # Read yfinance combined data file
    yfinance_data = pd.read_csv(yfinance_file)
    yfinance_data['Date'] = pd.to_datetime(yfinance_data['Date'])

    # Read Google Trends combined data file
    google_trends_data = pd.read_csv(google_trends_file)
    google_trends_data['date'] = pd.to_datetime(google_trends_data['date'])

    for ticker in tickers:
        # Extract data for the current ticker from yfinance data
        ticker_yfinance_data = yfinance_data[yfinance_data['Ticker'] == ticker]

        # Extract data for the current ticker from Google Trends data
        ticker_google_trends_data = google_trends_data[google_trends_data['ticker'] == ticker]

        # Ensure both datasets have the same length
        min_length = min(len(ticker_yfinance_data), len(ticker_google_trends_data))
        ticker_yfinance_data = ticker_yfinance_data.iloc[:min_length]
        ticker_google_trends_data = ticker_google_trends_data.iloc[:min_length]

        # Calculate correlation
        correlation = ticker_yfinance_data['Close'].corr(ticker_google_trends_data['value'])

        correlations[ticker] = correlation

    return correlations

# Example usage
yfinance_file = 'yfinance_data.csv'  # Example file path of yfinance data CSV file
google_trends_file = 'google_trends_data.csv'  # Example file path of Google Trends data CSV file
tickers = ['AAPL', 'GOOGL', 'MSFT']  # Example list of tickers

#correlations = calculate_correlations_yfinance_google_trends(yfinance_file, google_trends_file, tickers)
print("Correlation between yfinance close price and Google Trends data for each ticker:")
for ticker, correlation in correlations.items():
    print(f"{ticker}: {correlation}")

Correlation between yfinance close price and Google Trends data for each ticker:

NameError: name 'correlations' is not defined

In [ ]:
def calculate_correlations_from_csv(stock_files, trends_files):
    correlations = {}
    
    for stock_file, trends_file in zip(stock_files, trends_files):
        # Read stock data
        stock_data = pd.read_csv(stock_file)
        stock_data['Date'] = pd.to_datetime(stock_data['Date'])  # Convert 'Date' column to datetime
        
        # Read Google Trends data
        trends_data = pd.read_csv(trends_file)
        trends_data['date'] = pd.to_datetime(trends_data['date'])  # Convert 'date' column to datetime
        
        # Ensure both datasets have the same length
        min_length = min(len(stock_data), len(trends_data))
        stock_data = stock_data.iloc[:min_length]
        trends_data = trends_data.iloc[:min_length]
        
        # Calculate correlation
        correlation = stock_data['Close'].corr(trends_data['Apple'])  # Adjust 'Apple' to match the column name in trends_data
        
        # Extract stock ticker from filename
        stock_ticker = stock_file.split('.')[0]  # Assuming filenames are like 'AAPL.csv', 'GOOGL.csv', etc.
        
        correlations[stock_ticker] = correlation
    
    return correlations

In [4]:
def calculate_correlation(yfinance_file, google_trends_file):
    # Read yfinance data
    yfinance_data = pd.read_csv(yfinance_file, parse_dates=['Date'], index_col='Date')
    
    # Read Google Trends data
    google_trends_data = pd.read_csv(google_trends_file, parse_dates=['date'], index_col='date')
    
    # Ensure column names (tickers/keywords) match
    yfinance_columns = set(yfinance_data.columns)
    google_trends_columns = set(google_trends_data.columns)
    
    if yfinance_columns != google_trends_columns:
        raise ValueError("Column names (tickers/keywords) in yfinance data and Google Trends data do not match.")
    
    correlations = {}

    # Iterate through each ticker/keyword
    for column in yfinance_columns:
        if column != 'Date':  # Skip the 'Date' column
            # Calculate correlation for the current ticker/keyword
            correlation = yfinance_data[column].corr(google_trends_data[column])
            correlations[column] = correlation
    
    return correlations

In [5]:
# Example usage
yfinance_file = 'Financial_data_stocks.csv'  # File path of yfinance data CSV file
google_trends_file = 'googletrends.csv'  # File path of Google Trends data CSV file

correlations = calculate_correlation(yfinance_file, google_trends_file)

print("Correlation between yfinance close price and Google Trends data for each ticker/keyword:")
for ticker, correlation in correlations.items():
    print(f"{ticker}: {correlation}")

ValueError: Column names (tickers/keywords) in yfinance data and Google Trends data do not match.

In [7]:
yfinance_temp = pd.read_csv('Financial_data_stocks.csv')
yfinance_temp.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Return,Volatility
0,AXP,2004-01-02,42.390778,42.495815,41.778069,41.795574,31.080769,3041586,-0.014041,0.016932
1,AXP,2004-01-05,42.084423,42.303249,41.856846,42.163200,31.354137,4229407,0.001872,0.010607
2,AXP,2004-01-06,41.970634,42.303249,41.953129,42.233227,31.406221,4138924,0.006257,0.008342
3,AXP,2004-01-07,42.399532,42.399532,42.084423,42.355766,31.497335,4480635,-0.001032,0.007432
4,AXP,2004-01-08,42.434544,42.653370,41.839340,42.233227,31.406221,6395407,-0.004744,0.019183

In [9]:
google_temp = pd.read_csv('googletrends.csv')

google_temp.head()

,date,MSFT,AAPL,Visa,JPM,UNH,WMT,JNJ,PG,INTC,...,IBM,CAT,NKE,AXP,HON,BA,GS,MMM,TRV,DOW
0,2004-01-01,0.0,0.0,60.06,14.00,0.00,0.0,0.0,0.00,22.0,...,51.52,41.76,0.0,0.0,12.18,20.01,22.42,0.00,44.28,1.92
1,2004-01-02,3.8,0.0,63.18,0.00,8.64,2.8,0.0,23.37,0.0,...,60.72,39.84,0.0,46.0,0.00,22.04,38.94,10.44,44.28,3.16
2,2004-01-03,0.0,0.0,47.58,7.98,9.60,0.0,0.0,14.76,0.0,...,56.12,41.76,0.0,0.0,9.24,10.15,25.37,0.00,0.00,2.32
3,2004-01-04,0.0,0.0,62.40,4.90,11.04,0.0,0.0,7.79,0.0,...,42.32,42.72,0.0,0.0,0.00,0.00,41.89,10.56,13.12,1.56
4,2004-01-05,0.0,0.0,50.70,0.00,0.00,14.0,0.0,0.00,0.0,...,39.56,38.40,0.0,0.0,42.00,0.00,59.00,0.00,82.00,2.12

In [12]:
import pandas as pd

# Read yfinance data
yfinance_df = pd.read_csv('Financial_data_stocks.csv', parse_dates=['Date'])

# Read Google Trends data
google_trends_df = pd.read_csv('googletrends.csv', parse_dates=['date'])

# Merge yfinance_df and google_trends_df on the 'Date' column
merged_df = pd.merge(yfinance_df, google_trends_df, left_on='Date', right_on='date', how='left')

# Drop the 'date' column (since it's a duplicate of 'Date' from yfinance_df)
merged_df.drop(columns=['date'], inplace=True)

merged_df.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Return,Volatility,...,IBM,CAT,NKE,AXP,HON,BA,GS,MMM,TRV,DOW
0,AXP,2004-01-02,42.390778,42.495815,41.778069,41.795574,31.080769,3041586,-0.014041,0.016932,...,60.72,39.84,0.0,46.0,0.00,22.04,38.94,10.44,44.28,3.16
1,AXP,2004-01-05,42.084423,42.303249,41.856846,42.163200,31.354137,4229407,0.001872,0.010607,...,39.56,38.40,0.0,0.0,42.00,0.00,59.00,0.00,82.00,2.12
2,AXP,2004-01-06,41.970634,42.303249,41.953129,42.233227,31.406221,4138924,0.006257,0.008342,...,78.20,42.72,0.0,0.0,10.92,25.81,34.81,5.16,20.50,3.80
3,AXP,2004-01-07,42.399532,42.399532,42.084423,42.355766,31.497335,4480635,-0.001032,0.007432,...,83.72,32.64,0.0,0.0,8.82,15.66,48.38,0.00,0.00,4.00
4,AXP,2004-01-08,42.434544,42.653370,41.839340,42.233227,31.406221,6395407,-0.004744,0.019183,...,71.76,33.12,0.0,0.0,0.00,13.92,40.12,5.16,0.00,3.88

In [14]:
import pandas as pd

# Read Google Trends data
google_trends_df = pd.read_csv('googletrends.csv', parse_dates=['date'])

# Transpose the DataFrame
transposed_df = google_trends_df.melt(id_vars=['date'], var_name='stock_name', value_name='attention')

print(transposed_df)

             date stock_name  attention
0      2004-01-01       MSFT        0.0
1      2004-01-02       MSFT        3.8
2      2004-01-03       MSFT        0.0
3      2004-01-04       MSFT        0.0
4      2004-01-05       MSFT        0.0
...           ...        ...        ...
160705 2023-12-27        DOW        NaN
160706 2023-12-28        DOW        NaN
160707 2023-12-29        DOW        NaN
160708 2023-12-30        DOW        NaN
160709 2023-12-31        DOW        NaN

[160710 rows x 3 columns]