### Getting the Google Trends

Using google trends as a proxy for attention, we will pull for the ticker, name of the company + stock price, name of bitcoin + price

In [2]:
from pytrends import dailydata
import pandas as pd
import time
from pytrends.exceptions import ResponseError
from pytrends.request import TrendReq

To pull the trends in an efficient manner, we wrote a function that loops through a list of keywords and saves all the results for the keyword in a csv file. We added a cooling period due to low request rates for the API

In [3]:
def google_trends(inputlist):

    for string in inputlist:
            # Define the file name with .csv extension
        file_name = f"{string}_trends.csv"
        try:
            # Make the request to Google Trends API
            data = dailydata.get_daily_data(string, 2013, 1, 2023, 12, geo='US').reset_index()
            cols = ['date', f'{string}']
            data[cols].to_csv(file_name, index=False) #we only need the two columns 
                
            print(f"CSV file '{file_name}' has been created.")   
            time.sleep(60)             
        except Exception as e:
            if "429" in str(e):
                # Backoff strategy
                wait_time = 60
                print(f"Too many requests. Retrying in {wait_time} seconds...")
                time.sleep(wait_time)
                continue

                
            else:
                print(f"An error occurred: {e}")
                if not data.empty:
                    data.to_csv(file_name, index=False)
                break  # Exit the retry loop if it's not a 429 error

    return f"function is complete."

Creating the lists of keywords:

In [2]:
# List of keywords - Tickers

djia_tickers = [
 'MSFT',
 'AAPL', 
 'Visa', #Visa ticker is just V - google trends might not reflect that correctly so using Visa instead; need to redo - 100 comes before 2013
 'JPM',
 'UNH', 
 'WMT',
 'JNJ',
 'PG', 
 'HD', 
 'MRK',
 'CVX',
 'CRM',
 'KO',
 'MCD', 
 'CSCO',
 'INTC',
 'DIS',
 'VZ',
 'AMGN', 
 'IBM',
# 'CAT',
 'NKE',
 'AXP', 
 'HON',
 'BA',
 'GS',
 'MMM', 
 'TRV',
 'TSLA',
 'WBA',
 'AMZN']

In [ ]:
# List of keywords - name_price_attention

djia_name_price = [
    'Microsoft stock price',
    'Apple stock price',
    'Visa stock price',
    'JPMorgan Chase stock price',
    'UnitedHealth Group stock price',
    'Walmart stock price',
    'Johnson & Johnson stock price',
    'Procter & Gamble stock price',
    'Home Depot stock price',
    'Merck stock price',
    'Chevron stock price',
    'Salesforce stock price',
    'Coca-Cola stock price',
    'McDonald\'s stock price',
    'Cisco stock price',
    'Intel stock price',
    'Walt Disney stock price',
    'Verizon stock price',
    'Amgen stock price',
    'IBM stock price',
    'Nike stock price',
    'American Express stock price',
    'Honeywell stock price',
    'Boeing stock price',
    'Goldman Sachs stock price',
    '3M stock price',
    'Travelers Companies stock price',
    'Tesla stock price',
    'Walgreens Boots Alliance stock price',
]

In [146]:
cryptocurrency_names= [
    'Bitcoin', 
    'Ethereum', 
    'Binance Coin', 
    'Solana', 
    'XRP', 
    'Cardano', 
    'Avalanche', 
    'Dogecoin', 
    'Chainlink', 
    'Polkadot', 
    'Polygon',
    'Terra',
    'Shiba Inu', 
    'Bitcoin Cash', 
    'Litecoin', 
    'Immutable X', 
    'Uniswap', 
    'Filecoin', 
    'Cosmos',
    'Hedera Hashgraph', 
    'Ethereum Classic', 
    'Stacks', 
    'Opium', 
    'Apt Coin', 
    'NEAR Protocol', 
    'Algorand', 
    'Stellar', 
    'VeChain',
    'Injective Protocol',
    'Tia Token'
]

In [147]:
len(cryptocurrency_names)

30

In [69]:
google_trends(djia_tickers)

DIS:2013-01-01 2013-01-31
DIS:2013-02-01 2013-02-28
DIS:2013-03-01 2013-03-31
DIS:2013-04-01 2013-04-30
DIS:2013-05-01 2013-05-31
DIS:2013-06-01 2013-06-30
DIS:2013-07-01 2013-07-31
DIS:2013-08-01 2013-08-31
DIS:2013-09-01 2013-09-30
DIS:2013-10-01 2013-10-31
DIS:2013-11-01 2013-11-30
DIS:2013-12-01 2013-12-31
DIS:2014-01-01 2014-01-31
DIS:2014-02-01 2014-02-28
DIS:2014-03-01 2014-03-31
DIS:2014-04-01 2014-04-30
DIS:2014-05-01 2014-05-31
DIS:2014-06-01 2014-06-30
DIS:2014-07-01 2014-07-31
DIS:2014-08-01 2014-08-31
DIS:2014-09-01 2014-09-30
DIS:2014-10-01 2014-10-31
DIS:2014-11-01 2014-11-30
DIS:2014-12-01 2014-12-31
DIS:2015-01-01 2015-01-31
DIS:2015-02-01 2015-02-28
DIS:2015-03-01 2015-03-31
DIS:2015-04-01 2015-04-30
DIS:2015-05-01 2015-05-31
DIS:2015-06-01 2015-06-30
DIS:2015-07-01 2015-07-31
DIS:2015-08-01 2015-08-31
DIS:2015-09-01 2015-09-30
DIS:2015-10-01 2015-10-31
DIS:2015-11-01 2015-11-30
DIS:2015-12-01 2015-12-31
DIS:2016-01-01 2016-01-31
DIS:2016-02-01 2016-02-29
DIS:2016-03-01 2016-03-31
DIS:2016-04-01 2016-04-30
DIS:2016-05-01 2016-05-31
DIS:2016-06-01 2016-06-30
DIS:2016-07-01 2016-07-31
DIS:2016-08-01 2016-08-31
DIS:2016-09-01 2016-09-30
DIS:2016-10-01 2016-10-31
DIS:2016-11-01 2016-11-30
DIS:2016-12-01 2016-12-31
DIS:2017-01-01 2017-01-31
DIS:2017-02-01 2017-02-28
DIS:2017-03-01 2017-03-31
DIS:2017-04-01 2017-04-30
DIS:2017-05-01 2017-05-31
DIS:2017-06-01 2017-06-30
DIS:2017-07-01 2017-07-31
DIS:2017-08-01 2017-08-31
DIS:2017-09-01 2017-09-30
DIS:2017-10-01 2017-10-31
DIS:2017-11-01 2017-11-30
DIS:2017-12-01 2017-12-31
DIS:2018-01-01 2018-01-31
DIS:2018-02-01 2018-02-28
DIS:2018-03-01 2018-03-31
DIS:2018-04-01 2018-04-30
DIS:2018-05-01 2018-05-31
DIS:2018-06-01 2018-06-30
DIS:2018-07-01 2018-07-31
DIS:2018-08-01 2018-08-31
DIS:2018-09-01 2018-09-30
DIS:2018-10-01 2018-10-31
DIS:2018-11-01 2018-11-30
DIS:2018-12-01 2018-12-31
DIS:2019-01-01 2019-01-31
DIS:2019-02-01 2019-02-28
DIS:2019-03-01 2019-03-31
DIS:2019-04-01 2019-04-30
DIS:2019-05-01 2019-05-31
DIS:2019-06-01 2019-06-30
DIS:2019-07-01 2019-07-31
DIS:2019-08-01 2019-08-31
DIS:2019-09-01 2019-09-30
DIS:2019-10-01 2019-10-31
DIS:2019-11-01 2019-11-30
DIS:2019-12-01 2019-12-31
DIS:2020-01-01 2020-01-31
DIS:2020-02-01 2020-02-29
DIS:2020-03-01 2020-03-31
DIS:2020-04-01 2020-04-30
DIS:2020-05-01 2020-05-31
DIS:2020-06-01 2020-06-30
DIS:2020-07-01 2020-07-31
DIS:2020-08-01 2020-08-31
DIS:2020-09-01 2020-09-30
DIS:2020-10-01 2020-10-31
DIS:2020-11-01 2020-11-30
DIS:2020-12-01 2020-12-31
DIS:2021-01-01 2021-01-31
DIS:2021-02-01 2021-02-28
DIS:2021-03-01 2021-03-31
DIS:2021-04-01 2021-04-30
DIS:2021-05-01 2021-05-31
DIS:2021-06-01 2021-06-30
DIS:2021-07-01 2021-07-31
DIS:2021-08-01 2021-08-31
DIS:2021-09-01 2021-09-30
DIS:2021-10-01 2021-10-31
DIS:2021-11-01 2021-11-30
DIS:2021-12-01 2021-12-31
DIS:2022-01-01 2022-01-31
DIS:2022-02-01 2022-02-28
DIS:2022-03-01 2022-03-31
DIS:2022-04-01 2022-04-30
DIS:2022-05-01 2022-05-31
DIS:2022-06-01 2022-06-30
DIS:2022-07-01 2022-07-31
DIS:2022-08-01 2022-08-31
DIS:2022-09-01 2022-09-30
DIS:2022-10-01 2022-10-31
DIS:2022-11-01 2022-11-30
DIS:2022-12-01 2022-12-31
DIS:2023-01-01 2023-01-31
DIS:2023-02-01 2023-02-28
DIS:2023-03-01 2023-03-31
DIS:2023-04-01 2023-04-30
DIS:2023-05-01 2023-05-31
DIS:2023-06-01 2023-06-30
DIS:2023-07-01 2023-07-31
DIS:2023-08-01 2023-08-31
DIS:2023-09-01 2023-09-30
DIS:2023-10-01 2023-10-31
DIS:2023-11-01 2023-11-30
DIS:2023-12-01 2023-12-31

/usr/local/lib/python3.11/site-packages/pytrends/dailydata.py:123: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  complete[f'{word}_monthly'].ffill(inplace=True)  # fill NaN values

CSV file 'DIS.csv' has been created.
VZ:2013-01-01 2013-01-31
VZ:2013-02-01 2013-02-28
VZ:2013-03-01 2013-03-31
VZ:2013-04-01 2013-04-30
VZ:2013-05-01 2013-05-31
VZ:2013-06-01 2013-06-30
VZ:2013-07-01 2013-07-31
VZ:2013-08-01 2013-08-31
VZ:2013-09-01 2013-09-30
VZ:2013-10-01 2013-10-31
VZ:2013-11-01 2013-11-30
VZ:2013-12-01 2013-12-31
VZ:2014-01-01 2014-01-31
VZ:2014-02-01 2014-02-28
VZ:2014-03-01 2014-03-31
VZ:2014-04-01 2014-04-30
VZ:2014-05-01 2014-05-31
VZ:2014-06-01 2014-06-30
VZ:2014-07-01 2014-07-31
VZ:2014-08-01 2014-08-31
VZ:2014-09-01 2014-09-30
VZ:2014-10-01 2014-10-31
VZ:2014-11-01 2014-11-30
VZ:2014-12-01 2014-12-31
VZ:2015-01-01 2015-01-31
VZ:2015-02-01 2015-02-28
VZ:2015-03-01 2015-03-31
VZ:2015-04-01 2015-04-30
VZ:2015-05-01 2015-05-31
VZ:2015-06-01 2015-06-30
VZ:2015-07-01 2015-07-31
VZ:2015-08-01 2015-08-31
VZ:2015-09-01 2015-09-30
VZ:2015-10-01 2015-10-31
VZ:2015-11-01 2015-11-30
VZ:2015-12-01 2015-12-31
VZ:2016-01-01 2016-01-31
VZ:2016-02-01 2016-02-29
VZ:2016-03-01 2016-03-31
VZ:2016-04-01 2016-04-30
VZ:2016-05-01 2016-05-31
VZ:2016-06-01 2016-06-30
VZ:2016-07-01 2016-07-31
VZ:2016-08-01 2016-08-31
VZ:2016-09-01 2016-09-30
VZ:2016-10-01 2016-10-31
VZ:2016-11-01 2016-11-30
VZ:2016-12-01 2016-12-31
VZ:2017-01-01 2017-01-31
VZ:2017-02-01 2017-02-28
VZ:2017-03-01 2017-03-31
VZ:2017-04-01 2017-04-30
VZ:2017-05-01 2017-05-31
VZ:2017-06-01 2017-06-30
VZ:2017-07-01 2017-07-31
VZ:2017-08-01 2017-08-31
VZ:2017-09-01 2017-09-30
VZ:2017-10-01 2017-10-31
VZ:2017-11-01 2017-11-30
VZ:2017-12-01 2017-12-31
VZ:2018-01-01 2018-01-31
VZ:2018-02-01 2018-02-28
VZ:2018-03-01 2018-03-31
VZ:2018-04-01 2018-04-30
VZ:2018-05-01 2018-05-31
VZ:2018-06-01 2018-06-30
VZ:2018-07-01 2018-07-31
VZ:2018-08-01 2018-08-31
VZ:2018-09-01 2018-09-30
VZ:2018-10-01 2018-10-31
VZ:2018-11-01 2018-11-30
VZ:2018-12-01 2018-12-31
VZ:2019-01-01 2019-01-31
VZ:2019-02-01 2019-02-28
VZ:2019-03-01 2019-03-31
VZ:2019-04-01 2019-04-30
VZ:2019-05-01 2019-05-31
VZ:2019-06-01 2019-06-30
VZ:2019-07-01 2019-07-31
VZ:2019-08-01 2019-08-31
VZ:2019-09-01 2019-09-30
VZ:2019-10-01 2019-10-31
VZ:2019-11-01 2019-11-30
VZ:2019-12-01 2019-12-31
VZ:2020-01-01 2020-01-31
VZ:2020-02-01 2020-02-29
VZ:2020-03-01 2020-03-31
VZ:2020-04-01 2020-04-30
VZ:2020-05-01 2020-05-31
VZ:2020-06-01 2020-06-30
VZ:2020-07-01 2020-07-31
VZ:2020-08-01 2020-08-31
VZ:2020-09-01 2020-09-30
VZ:2020-10-01 2020-10-31
VZ:2020-11-01 2020-11-30
VZ:2020-12-01 2020-12-31
VZ:2021-01-01 2021-01-31
VZ:2021-02-01 2021-02-28
VZ:2021-03-01 2021-03-31
VZ:2021-04-01 2021-04-30
VZ:2021-05-01 2021-05-31
VZ:2021-06-01 2021-06-30
VZ:2021-07-01 2021-07-31
VZ:2021-08-01 2021-08-31
VZ:2021-09-01 2021-09-30
VZ:2021-10-01 2021-10-31
VZ:2021-11-01 2021-11-30
VZ:2021-12-01 2021-12-31
VZ:2022-01-01 2022-01-31
VZ:2022-02-01 2022-02-28
VZ:2022-03-01 2022-03-31
VZ:2022-04-01 2022-04-30
VZ:2022-05-01 2022-05-31
VZ:2022-06-01 2022-06-30
VZ:2022-07-01 2022-07-31
VZ:2022-08-01 2022-08-31
VZ:2022-09-01 2022-09-30
VZ:2022-10-01 2022-10-31
VZ:2022-11-01 2022-11-30
VZ:2022-12-01 2022-12-31
VZ:2023-01-01 2023-01-31
VZ:2023-02-01 2023-02-28
VZ:2023-03-01 2023-03-31
VZ:2023-04-01 2023-04-30
VZ:2023-05-01 2023-05-31
VZ:2023-06-01 2023-06-30
VZ:2023-07-01 2023-07-31
VZ:2023-08-01 2023-08-31
VZ:2023-09-01 2023-09-30
VZ:2023-10-01 2023-10-31
VZ:2023-11-01 2023-11-30
VZ:2023-12-01 2023-12-31

/usr/local/lib/python3.11/site-packages/pytrends/dailydata.py:123: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  complete[f'{word}_monthly'].ffill(inplace=True)  # fill NaN values

CSV file 'VZ.csv' has been created.
AMGN:2013-01-01 2013-01-31
AMGN:2013-02-01 2013-02-28
AMGN:2013-03-01 2013-03-31
AMGN:2013-04-01 2013-04-30
AMGN:2013-05-01 2013-05-31
AMGN:2013-06-01 2013-06-30
AMGN:2013-07-01 2013-07-31
AMGN:2013-08-01 2013-08-31
AMGN:2013-09-01 2013-09-30
AMGN:2013-10-01 2013-10-31
AMGN:2013-11-01 2013-11-30
AMGN:2013-12-01 2013-12-31
AMGN:2014-01-01 2014-01-31
AMGN:2014-02-01 2014-02-28
AMGN:2014-03-01 2014-03-31
AMGN:2014-04-01 2014-04-30
AMGN:2014-05-01 2014-05-31
AMGN:2014-06-01 2014-06-30
AMGN:2014-07-01 2014-07-31
AMGN:2014-08-01 2014-08-31
AMGN:2014-09-01 2014-09-30
AMGN:2014-10-01 2014-10-31
AMGN:2014-11-01 2014-11-30
AMGN:2014-12-01 2014-12-31
AMGN:2015-01-01 2015-01-31
AMGN:2015-02-01 2015-02-28
AMGN:2015-03-01 2015-03-31
AMGN:2015-04-01 2015-04-30
AMGN:2015-05-01 2015-05-31
AMGN:2015-06-01 2015-06-30
AMGN:2015-07-01 2015-07-31
AMGN:2015-08-01 2015-08-31
AMGN:2015-09-01 2015-09-30
AMGN:2015-10-01 2015-10-31
AMGN:2015-11-01 2015-11-30
AMGN:2015-12-01 2015-12-31
AMGN:2016-01-01 2016-01-31
AMGN:2016-02-01 2016-02-29
AMGN:2016-03-01 2016-03-31
AMGN:2016-04-01 2016-04-30
AMGN:2016-05-01 2016-05-31
AMGN:2016-06-01 2016-06-30
AMGN:2016-07-01 2016-07-31
AMGN:2016-08-01 2016-08-31
AMGN:2016-09-01 2016-09-30
AMGN:2016-10-01 2016-10-31
AMGN:2016-11-01 2016-11-30
AMGN:2016-12-01 2016-12-31
AMGN:2017-01-01 2017-01-31
AMGN:2017-02-01 2017-02-28
AMGN:2017-03-01 2017-03-31
AMGN:2017-04-01 2017-04-30
AMGN:2017-05-01 2017-05-31
AMGN:2017-06-01 2017-06-30
AMGN:2017-07-01 2017-07-31
AMGN:2017-08-01 2017-08-31
AMGN:2017-09-01 2017-09-30
AMGN:2017-10-01 2017-10-31
AMGN:2017-11-01 2017-11-30
AMGN:2017-12-01 2017-12-31
AMGN:2018-01-01 2018-01-31
AMGN:2018-02-01 2018-02-28
AMGN:2018-03-01 2018-03-31
AMGN:2018-04-01 2018-04-30
AMGN:2018-05-01 2018-05-31
AMGN:2018-06-01 2018-06-30
AMGN:2018-07-01 2018-07-31
AMGN:2018-08-01 2018-08-31
AMGN:2018-09-01 2018-09-30
AMGN:2018-10-01 2018-10-31
AMGN:2018-11-01 2018-11-30
AMGN:2018-12-01 2018-12-31
AMGN:2019-01-01 2019-01-31
AMGN:2019-02-01 2019-02-28
AMGN:2019-03-01 2019-03-31
AMGN:2019-04-01 2019-04-30
AMGN:2019-05-01 2019-05-31
AMGN:2019-06-01 2019-06-30
AMGN:2019-07-01 2019-07-31
AMGN:2019-08-01 2019-08-31
AMGN:2019-09-01 2019-09-30
AMGN:2019-10-01 2019-10-31
AMGN:2019-11-01 2019-11-30
AMGN:2019-12-01 2019-12-31
AMGN:2020-01-01 2020-01-31
AMGN:2020-02-01 2020-02-29
AMGN:2020-03-01 2020-03-31
AMGN:2020-04-01 2020-04-30
AMGN:2020-05-01 2020-05-31
AMGN:2020-06-01 2020-06-30
AMGN:2020-07-01 2020-07-31
AMGN:2020-08-01 2020-08-31
AMGN:2020-09-01 2020-09-30
AMGN:2020-10-01 2020-10-31
AMGN:2020-11-01 2020-11-30
AMGN:2020-12-01 2020-12-31
AMGN:2021-01-01 2021-01-31
AMGN:2021-02-01 2021-02-28
AMGN:2021-03-01 2021-03-31
AMGN:2021-04-01 2021-04-30
AMGN:2021-05-01 2021-05-31
AMGN:2021-06-01 2021-06-30
AMGN:2021-07-01 2021-07-31
AMGN:2021-08-01 2021-08-31
AMGN:2021-09-01 2021-09-30
AMGN:2021-10-01 2021-10-31
AMGN:2021-11-01 2021-11-30
AMGN:2021-12-01 2021-12-31
AMGN:2022-01-01 2022-01-31
AMGN:2022-02-01 2022-02-28
AMGN:2022-03-01 2022-03-31
AMGN:2022-04-01 2022-04-30
AMGN:2022-05-01 2022-05-31
AMGN:2022-06-01 2022-06-30
AMGN:2022-07-01 2022-07-31
AMGN:2022-08-01 2022-08-31
AMGN:2022-09-01 2022-09-30
AMGN:2022-10-01 2022-10-31
AMGN:2022-11-01 2022-11-30
AMGN:2022-12-01 2022-12-31
AMGN:2023-01-01 2023-01-31
AMGN:2023-02-01 2023-02-28
AMGN:2023-03-01 2023-03-31
AMGN:2023-04-01 2023-04-30
AMGN:2023-05-01 2023-05-31
AMGN:2023-06-01 2023-06-30
AMGN:2023-07-01 2023-07-31
AMGN:2023-08-01 2023-08-31
AMGN:2023-09-01 2023-09-30
AMGN:2023-10-01 2023-10-31
AMGN:2023-11-01 2023-11-30
AMGN:2023-12-01 2023-12-31

/usr/local/lib/python3.11/site-packages/pytrends/dailydata.py:123: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  complete[f'{word}_monthly'].ffill(inplace=True)  # fill NaN values

CSV file 'AMGN.csv' has been created.
IBM:2013-01-01 2013-01-31
IBM:2013-02-01 2013-02-28
IBM:2013-03-01 2013-03-31
IBM:2013-04-01 2013-04-30
IBM:2013-05-01 2013-05-31
IBM:2013-06-01 2013-06-30
IBM:2013-07-01 2013-07-31
IBM:2013-08-01 2013-08-31
IBM:2013-09-01 2013-09-30
IBM:2013-10-01 2013-10-31
IBM:2013-11-01 2013-11-30
IBM:2013-12-01 2013-12-31
IBM:2014-01-01 2014-01-31
IBM:2014-02-01 2014-02-28
IBM:2014-03-01 2014-03-31
IBM:2014-04-01 2014-04-30
IBM:2014-05-01 2014-05-31
IBM:2014-06-01 2014-06-30
IBM:2014-07-01 2014-07-31
IBM:2014-08-01 2014-08-31
IBM:2014-09-01 2014-09-30
IBM:2014-10-01 2014-10-31
IBM:2014-11-01 2014-11-30
IBM:2014-12-01 2014-12-31
IBM:2015-01-01 2015-01-31
IBM:2015-02-01 2015-02-28
IBM:2015-03-01 2015-03-31
IBM:2015-04-01 2015-04-30
IBM:2015-05-01 2015-05-31
IBM:2015-06-01 2015-06-30
IBM:2015-07-01 2015-07-31
IBM:2015-08-01 2015-08-31
IBM:2015-09-01 2015-09-30
IBM:2015-10-01 2015-10-31
IBM:2015-11-01 2015-11-30
IBM:2015-12-01 2015-12-31
IBM:2016-01-01 2016-01-31
IBM:2016-02-01 2016-02-29
IBM:2016-03-01 2016-03-31
IBM:2016-04-01 2016-04-30
IBM:2016-05-01 2016-05-31
IBM:2016-06-01 2016-06-30
IBM:2016-07-01 2016-07-31
IBM:2016-08-01 2016-08-31
IBM:2016-09-01 2016-09-30
IBM:2016-10-01 2016-10-31
IBM:2016-11-01 2016-11-30
IBM:2016-12-01 2016-12-31
IBM:2017-01-01 2017-01-31
IBM:2017-02-01 2017-02-28
IBM:2017-03-01 2017-03-31
IBM:2017-04-01 2017-04-30
IBM:2017-05-01 2017-05-31
IBM:2017-06-01 2017-06-30
IBM:2017-07-01 2017-07-31
IBM:2017-08-01 2017-08-31
IBM:2017-09-01 2017-09-30
IBM:2017-10-01 2017-10-31
IBM:2017-11-01 2017-11-30
IBM:2017-12-01 2017-12-31
IBM:2018-01-01 2018-01-31
IBM:2018-02-01 2018-02-28
IBM:2018-03-01 2018-03-31
IBM:2018-04-01 2018-04-30
IBM:2018-05-01 2018-05-31
IBM:2018-06-01 2018-06-30
IBM:2018-07-01 2018-07-31
IBM:2018-08-01 2018-08-31
IBM:2018-09-01 2018-09-30
IBM:2018-10-01 2018-10-31
IBM:2018-11-01 2018-11-30
IBM:2018-12-01 2018-12-31
IBM:2019-01-01 2019-01-31
IBM:2019-02-01 2019-02-28
IBM:2019-03-01 2019-03-31
IBM:2019-04-01 2019-04-30
IBM:2019-05-01 2019-05-31
IBM:2019-06-01 2019-06-30
IBM:2019-07-01 2019-07-31
IBM:2019-08-01 2019-08-31
IBM:2019-09-01 2019-09-30
IBM:2019-10-01 2019-10-31
IBM:2019-11-01 2019-11-30
IBM:2019-12-01 2019-12-31
IBM:2020-01-01 2020-01-31
IBM:2020-02-01 2020-02-29
IBM:2020-03-01 2020-03-31
IBM:2020-04-01 2020-04-30
IBM:2020-05-01 2020-05-31
IBM:2020-06-01 2020-06-30
IBM:2020-07-01 2020-07-31
IBM:2020-08-01 2020-08-31
IBM:2020-09-01 2020-09-30
IBM:2020-10-01 2020-10-31
IBM:2020-11-01 2020-11-30
IBM:2020-12-01 2020-12-31
IBM:2021-01-01 2021-01-31
IBM:2021-02-01 2021-02-28
IBM:2021-03-01 2021-03-31
IBM:2021-04-01 2021-04-30
IBM:2021-05-01 2021-05-31
IBM:2021-06-01 2021-06-30
IBM:2021-07-01 2021-07-31
IBM:2021-08-01 2021-08-31
IBM:2021-09-01 2021-09-30
IBM:2021-10-01 2021-10-31
IBM:2021-11-01 2021-11-30
IBM:2021-12-01 2021-12-31
IBM:2022-01-01 2022-01-31
IBM:2022-02-01 2022-02-28
IBM:2022-03-01 2022-03-31
IBM:2022-04-01 2022-04-30
IBM:2022-05-01 2022-05-31
IBM:2022-06-01 2022-06-30
IBM:2022-07-01 2022-07-31
IBM:2022-08-01 2022-08-31
IBM:2022-09-01 2022-09-30
IBM:2022-10-01 2022-10-31
IBM:2022-11-01 2022-11-30
IBM:2022-12-01 2022-12-31
IBM:2023-01-01 2023-01-31
IBM:2023-02-01 2023-02-28
IBM:2023-03-01 2023-03-31
IBM:2023-04-01 2023-04-30
IBM:2023-05-01 2023-05-31
IBM:2023-06-01 2023-06-30
IBM:2023-07-01 2023-07-31
IBM:2023-08-01 2023-08-31
IBM:2023-09-01 2023-09-30
IBM:2023-10-01 2023-10-31
IBM:2023-11-01 2023-11-30
IBM:2023-12-01 2023-12-31

/usr/local/lib/python3.11/site-packages/pytrends/dailydata.py:123: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  complete[f'{word}_monthly'].ffill(inplace=True)  # fill NaN values

CSV file 'IBM.csv' has been created.
TRV:2013-01-01 2013-01-31
TRV:2013-02-01 2013-02-28
TRV:2013-03-01 2013-03-31
TRV:2013-04-01 2013-04-30
TRV:2013-05-01 2013-05-31
TRV:2013-06-01 2013-06-30
TRV:2013-07-01 2013-07-31
TRV:2013-08-01 2013-08-31
TRV:2013-09-01 2013-09-30
TRV:2013-10-01 2013-10-31
TRV:2013-11-01 2013-11-30
TRV:2013-12-01 2013-12-31
TRV:2014-01-01 2014-01-31
TRV:2014-02-01 2014-02-28
TRV:2014-03-01 2014-03-31
TRV:2014-04-01 2014-04-30
TRV:2014-05-01 2014-05-31
TRV:2014-06-01 2014-06-30
TRV:2014-07-01 2014-07-31
TRV:2014-08-01 2014-08-31
TRV:2014-09-01 2014-09-30
TRV:2014-10-01 2014-10-31
TRV:2014-11-01 2014-11-30
TRV:2014-12-01 2014-12-31
TRV:2015-01-01 2015-01-31
TRV:2015-02-01 2015-02-28
TRV:2015-03-01 2015-03-31
TRV:2015-04-01 2015-04-30
TRV:2015-05-01 2015-05-31
TRV:2015-06-01 2015-06-30
TRV:2015-07-01 2015-07-31
TRV:2015-08-01 2015-08-31
TRV:2015-09-01 2015-09-30
TRV:2015-10-01 2015-10-31
TRV:2015-11-01 2015-11-30
TRV:2015-12-01 2015-12-31
TRV:2016-01-01 2016-01-31
TRV:2016-02-01 2016-02-29
TRV:2016-03-01 2016-03-31
TRV:2016-04-01 2016-04-30
TRV:2016-05-01 2016-05-31
TRV:2016-06-01 2016-06-30
TRV:2016-07-01 2016-07-31
TRV:2016-08-01 2016-08-31
TRV:2016-09-01 2016-09-30
TRV:2016-10-01 2016-10-31
TRV:2016-11-01 2016-11-30
TRV:2016-12-01 2016-12-31
TRV:2017-01-01 2017-01-31
TRV:2017-02-01 2017-02-28
TRV:2017-03-01 2017-03-31
TRV:2017-04-01 2017-04-30
TRV:2017-05-01 2017-05-31
TRV:2017-06-01 2017-06-30
TRV:2017-07-01 2017-07-31
TRV:2017-08-01 2017-08-31
TRV:2017-09-01 2017-09-30
TRV:2017-10-01 2017-10-31
TRV:2017-11-01 2017-11-30
TRV:2017-12-01 2017-12-31
TRV:2018-01-01 2018-01-31
TRV:2018-02-01 2018-02-28
TRV:2018-03-01 2018-03-31
TRV:2018-04-01 2018-04-30
TRV:2018-05-01 2018-05-31
TRV:2018-06-01 2018-06-30
TRV:2018-07-01 2018-07-31
TRV:2018-08-01 2018-08-31
TRV:2018-09-01 2018-09-30
TRV:2018-10-01 2018-10-31
TRV:2018-11-01 2018-11-30
TRV:2018-12-01 2018-12-31
TRV:2019-01-01 2019-01-31
TRV:2019-02-01 2019-02-28
TRV:2019-03-01 2019-03-31
TRV:2019-04-01 2019-04-30
TRV:2019-05-01 2019-05-31
TRV:2019-06-01 2019-06-30
TRV:2019-07-01 2019-07-31
TRV:2019-08-01 2019-08-31
TRV:2019-09-01 2019-09-30
TRV:2019-10-01 2019-10-31
TRV:2019-11-01 2019-11-30
TRV:2019-12-01 2019-12-31
TRV:2020-01-01 2020-01-31
TRV:2020-02-01 2020-02-29
TRV:2020-03-01 2020-03-31
TRV:2020-04-01 2020-04-30
TRV:2020-05-01 2020-05-31
TRV:2020-06-01 2020-06-30
TRV:2020-07-01 2020-07-31
TRV:2020-08-01 2020-08-31
TRV:2020-09-01 2020-09-30
TRV:2020-10-01 2020-10-31
TRV:2020-11-01 2020-11-30
TRV:2020-12-01 2020-12-31
TRV:2021-01-01 2021-01-31
TRV:2021-02-01 2021-02-28
TRV:2021-03-01 2021-03-31
TRV:2021-04-01 2021-04-30
TRV:2021-05-01 2021-05-31
TRV:2021-06-01 2021-06-30
TRV:2021-07-01 2021-07-31
TRV:2021-08-01 2021-08-31
TRV:2021-09-01 2021-09-30
TRV:2021-10-01 2021-10-31
TRV:2021-11-01 2021-11-30
TRV:2021-12-01 2021-12-31
TRV:2022-01-01 2022-01-31
TRV:2022-02-01 2022-02-28
TRV:2022-03-01 2022-03-31
TRV:2022-04-01 2022-04-30
TRV:2022-05-01 2022-05-31
TRV:2022-06-01 2022-06-30
TRV:2022-07-01 2022-07-31
TRV:2022-08-01 2022-08-31
TRV:2022-09-01 2022-09-30
TRV:2022-10-01 2022-10-31
TRV:2022-11-01 2022-11-30
TRV:2022-12-01 2022-12-31
TRV:2023-01-01 2023-01-31
TRV:2023-02-01 2023-02-28
TRV:2023-03-01 2023-03-31
TRV:2023-04-01 2023-04-30
TRV:2023-05-01 2023-05-31
TRV:2023-06-01 2023-06-30
TRV:2023-07-01 2023-07-31
TRV:2023-08-01 2023-08-31
TRV:2023-09-01 2023-09-30
TRV:2023-10-01 2023-10-31
TRV:2023-11-01 2023-11-30
TRV:2023-12-01 2023-12-31

/usr/local/lib/python3.11/site-packages/pytrends/dailydata.py:123: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  complete[f'{word}_monthly'].ffill(inplace=True)  # fill NaN values

CSV file 'TRV.csv' has been created.
TSLA:2013-01-01 2013-01-31
TSLA:2013-02-01 2013-02-28

KeyboardInterrupt:

In [ ]:
google_trends(cryptocurrency_names_with_price)

### Combining all the trends into one file to merge with financial

In [4]:
import os

In [5]:
def rename_column_header(input_list):
    folder_name = 'google_trends/stock_price'
    for name in input_list:
        file_name = f"{name}_price_trends.csv"
        file_path = os.path.join(folder_name, file_name)
        
        # Check if the file exists
        if not os.path.exists(file_path):
            print(f"Error: File '{file_path}' does not exist.")
            continue

        # Read the CSV file
        df = pd.read_csv(file_path)

        # Rename the second column header
        df.rename(columns={df.columns[1]: name}, inplace=True)

        # Save the modified CSV file
        df.to_csv(file_path, index=False)

In [6]:
def merge_csv_files(input_file, folder_name, column_head, file_name):
    dfs = []
    for file in input_file:
        file_path = os.path.join(folder_name, file)
        if not os.path.exists(file_path):
            print(f"Error: File '{file_path}' does not exist.")
            continue

        df = pd.read_csv(file_path)
        dfs.append(df) #creates a list of the dfs

    #merged_df = dfs[0]
    merged_df = pd.merge(dfs[0], dfs[1], on='date', how='inner')

    for i in range(2, 29):
        merged_df = pd.merge(merged_df, dfs[i], on='date', how='inner')
        #merged_df.to_csv("google_price_trends.csv")

    #for df in dfs[1:]:
        #merged_df = pd.merge(merged_df, df, on='date')

    melted_df = merged_df.melt(id_vars=['date'], var_name='stock_name', value_name=column_head)

    melted_df.to_csv(file_name, index=False)
    return melted_df

In [4]:
ticker_trends = ['MSFT_trends.csv', 'AAPL_trends.csv', 'Visa_trends.csv', 'JPM_trends.csv', 
             'UNH_trends.csv',  'WMT_trends.csv', 'JNJ_trends.csv', 'PG_trends.csv',
               'HD_trends.csv', 'MRK_trends.csv',  'CVX_trends.csv', 'CRM_trends.csv', 
               'KO_trends.csv', 'MCD_trends.csv', 'CSCO_trends.csv',  'INTC_trends.csv', 
               'DIS_trends.csv', 'VZ_trends.csv', 'AMGN_trends.csv', 'IBM_trends.csv',  
               #'CAT_trends.csv', 
               'NKE_trends.csv', 'AXP_trends.csv', 'HON_trends.csv', 
               'BA_trends.csv',  'GS_trends.csv', 'MMM_trends.csv', 'TRV_trends.csv', 'TSLA_trends.csv']

price_trends = ['MSFT_price_trends.csv', 'AAPL_price_trends.csv', 'Visa_price_trends.csv', 'JPM_price_trends.csv', 
               'UNH_price_trends.csv', 'WMT_price_trends.csv', 'JNJ_price_trends.csv', 'PG_price_trends.csv', 
               'HD_price_trends.csv', 'MRK_price_trends.csv', 'CVX_price_trends.csv', 'CRM_price_trends.csv', 
               'KO_price_trends.csv', 'MCD_price_trends.csv', 'CSCO_price_trends.csv', 'INTC_price_trends.csv', 
               'DIS_price_trends.csv', 'VZ_price_trends.csv', 'AMGN_price_trends.csv', 'IBM_price_trends.csv', 
               'CAT_price_trends.csv', 'NKE_price_trends.csv', 'AXP_price_trends.csv', 'HON_price_trends.csv', 
               'BA_price_trends.csv', 'GS_price_trends.csv', 'MMM_price_trends.csv', 'TRV_price_trends.csv', 
               'TSLA_price_trends.csv']

#ticker_only_df = merge_csv_files(ticker_trends, 'google_trends/ticker_only', 'ticker_attention', "google_ticker_trends.csv")
#ticker_only_df.head()
#update stock_price_df and ticker_only_df when data added for remaining key words

In [ ]:
ticker_only_df = merge_csv_files(ticker_trends, 'google_trends/ticker_only', 'ticker_attention', "google_ticker_trends.csv")
ticker_only_df.head()

In [15]:
stock_price_df = merge_csv_files(price_trends, 'google_trends/stock_price', 'name_price_attention', "google_price_trends.csv")

stock_price_df= stock_price_df.rename(columns={'stock_name':'ticker'})
stock_price_df.tail()

              date ticker  name_price_attention
116859  2023-12-27   TSLA                 41.40
116860  2023-12-28   TSLA                 38.25
116861  2023-12-29   TSLA                 34.65
116862  2023-12-30   TSLA                  9.45
116863  2023-12-31   TSLA                  5.40

Checking for any NaN values

In [154]:
ticker_only_df.isna().any()

date                False
stock_name          False
ticker_attention    False
dtype: bool

In [155]:
stock_price_df.isna().any()

date                    False
stock_name              False
name_price_attention    False
dtype: bool

### Combining into one csv file (prep for merge with financial data)

In [164]:
#google_trends_df = pd.merge(ticker_only_df,stock_price_df, left_on=['date', 'stock_name'], right_on=['date', 'stock_name'], how='left')
#google_trends_df.to_csv('google_trends.csv', index=False)

google_trends_df = pd.merge(ticker_only_df, stock_price_df, on=['date', 'stock_name'])
google_trends_df = google_trends_df.rename(columns={'stock_name':'ticker'})

google_trends_df.head()

         date ticker  ticker_attention  name_price_attention
0  2014-01-01   MSFT              1.56                  1.54
1  2014-01-02   MSFT              3.25                  3.15
2  2014-01-03   MSFT              3.38                  1.54
3  2014-01-04   MSFT              2.08                  1.40
4  2014-01-05   MSFT              0.91                  2.10

Checking for NaN values

In [165]:
google_trends_df.isna().any()

date                    False
ticker                  False
ticker_attention        False
name_price_attention    False
dtype: bool

In [166]:
google_trends_df.to_csv("google_trends.csv")

### Combining financial and attention data

In [12]:
financial_data_df = pd.read_csv("djia_daily_data_2013_2023_updated.csv")
financial_data_df.head()

,date,permno,ticker,price,volume,return,high,low,open,avg_price,mkt_cap,pct_return
0,2013-01-02,10107,MSFT,27.62,52505405.0,0.034081,27.73,27.1499,27.25,27.43995,231289880.0,3.4081
1,2013-01-03,10107,MSFT,27.25,48149159.0,-0.013396,27.65,27.1600,27.63,27.40500,228191500.0,-1.3396
2,2013-01-04,10107,MSFT,26.74,52212339.0,-0.018716,27.34,26.7300,27.27,27.03500,223920760.0,-1.8716
3,2013-01-07,10107,MSFT,26.69,36663231.0,-0.001870,26.88,26.6400,26.77,26.76000,223502060.0,-0.1870
4,2013-01-08,10107,MSFT,26.55,44316668.0,-0.005245,26.79,26.4600,26.75,26.62500,222329700.0,-0.5245

In [172]:
combined_df = pd.merge(financial_data_df, google_trends_df, on=['date', 'ticker'])
combined_df.head()

,date,permno,ticker,price,volume,return,high,low,open,avg_price,mkt_cap,pct_return,ticker_attention,name_price_attention
0,2014-01-02,10107,MSFT,37.16,30423757.0,-0.006683,37.40,37.10,37.350,37.25,308428000.0,-0.6683,3.25,3.15
1,2014-01-03,10107,MSFT,36.91,30944370.0,-0.006728,37.22,36.60,37.200,36.91,306353000.0,-0.6728,3.38,1.54
2,2014-01-06,10107,MSFT,36.13,43111355.0,-0.021133,36.89,36.11,36.850,36.50,299879000.0,-2.1133,4.03,2.24
3,2014-01-07,10107,MSFT,36.41,35478667.0,0.007750,36.49,36.21,36.325,36.35,302203000.0,0.7750,4.94,1.19
4,2014-01-08,10107,MSFT,35.76,59452427.0,-0.017852,36.14,35.58,36.000,35.86,296808000.0,-1.7852,5.33,1.68

In [17]:
fin_attention_data = pd.merge(financial_data_df, stock_price_df, on=['date', 'ticker'])
fin_attention_data.tail()

,date,permno,ticker,price,volume,return,high,low,open,avg_price,mkt_cap,pct_return,name_price_attention
70443,2023-12-22,93436,TSLA,252.53999,93148541.0,-0.007701,258.22,251.37000,256.76001,254.795000,8.028047e+08,-0.7701,34.65
70444,2023-12-26,93436,TSLA,256.60999,86700724.0,0.016116,257.97,252.91000,254.49001,255.440000,8.157429e+08,1.6116,36.00
70445,2023-12-27,93436,TSLA,261.44000,106250779.0,0.018822,263.34,257.51999,258.35001,260.429995,8.310971e+08,1.8822,41.40
70446,2023-12-28,93436,TSLA,253.17999,113250680.0,-0.031594,265.13,252.71001,263.66000,258.920005,8.048392e+08,-3.1594,38.25
70447,2023-12-29,93436,TSLA,248.48000,100321201.0,-0.018564,255.19,247.42999,255.10001,251.309995,7.898983e+08,-1.8564,34.65

In [18]:
fin_attention_data.to_csv("combined_financial_data.csv")

### Pre-processing financial data files for cryptocurrencies

In [1]:
crypto_names = ['Bitcoin', 'Ethereum', 'Binance Coin', 'Solana', 'XRP', 'Cardano', 'Avalanche', 'Dogecoin', 'Chainlink', 'Polkadot', 'Polygon', 'Terra', 'Shiba Inu', 'Bitcoin Cash', 'Litecoin', 'Immutable X', 'Uniswap', 'Filecoin', 'Cosmos', 'Hedera Hashgraph', 'Ethereum Classic', 'Stacks', 'Opium', 'Apt Coin', 'NEAR Protocol', 'Algorand', 'Stellar', 'VeChain', 'Injective Protocol', 'Tia Token']

In [6]:
def xlsx_to_csv(file_list):

    for xlsx_file in file_list:
        try:
            filename = os.path.splitext(xlsx_file)[0]
            df = pd.read_excel(xlsx_file)
            csv_file = filename + ".csv"
            df.to_csv(csv_file, index=False)
            print(f"Conversion successful for {xlsx_file} -> {csv_file}")
        except Exception as e:
            print(f"Conversion failed for {xlsx_file}: {e}")

In [7]:
xlsx_to_csv(crypto_names)

NameError: name 'crypto_names' is not defined

In [28]:
xlsx_to_csv(djia_tickers)

Error: File 'financial_data/PG.xlsx' does not exist.

'Done'

### Scaling the data

In [67]:
from sklearn.preprocessing import StandardScaler
import numpy as np

In [97]:
df_scaled = pd.read_csv("stocks_combined_unscaled.csv", index_col=0)

df_scaled['daily_spread'] = df_scaled['high'] - df_scaled['low']
df_scaled.head()

,date,permno,ticker,price,volume,return,high,low,open,avg_price,mkt_cap,pct_return,name_price_attention,volatility
0,2014-01-02,10107,MSFT,37.16,30423757.0,-0.006683,37.40,37.10,37.350,37.25,308428000.0,-0.6683,3.15,0.30
1,2014-01-03,10107,MSFT,36.91,30944370.0,-0.006728,37.22,36.60,37.200,36.91,306353000.0,-0.6728,1.54,0.62
2,2014-01-06,10107,MSFT,36.13,43111355.0,-0.021133,36.89,36.11,36.850,36.50,299879000.0,-2.1133,2.24,0.78
3,2014-01-07,10107,MSFT,36.41,35478667.0,0.007750,36.49,36.21,36.325,36.35,302203000.0,0.7750,1.19,0.28
4,2014-01-08,10107,MSFT,35.76,59452427.0,-0.017852,36.14,35.58,36.000,35.86,296808000.0,-1.7852,1.68,0.56

In [98]:

# Select numerical columns for scaling
numerical_columns = ['price', 'volume', 'high', 'low', 'open', 'avg_price', 'mkt_cap', 'pct_return', 'name_price_attention', 'daily_spread']

# Initialize the scaler
scaler = StandardScaler()

# Fit and transform the data
df_scaled[numerical_columns] = scaler.fit_transform(df_scaled[numerical_columns])

# Check the new dataframe
df_scaled.head()

,date,permno,ticker,price,volume,return,high,low,open,avg_price,mkt_cap,pct_return,name_price_attention,volatility
0,2014-01-02,10107,MSFT,-0.999221,1.117934,-0.006683,-0.992613,-1.004799,-0.997672,-0.998750,0.138220,-0.419196,-0.712226,-0.494860
1,2014-01-03,10107,MSFT,-1.001527,1.148820,-0.006728,-0.994243,-1.009502,-0.999057,-1.001888,0.132557,-0.421781,-0.816796,-0.438358
2,2014-01-06,10107,MSFT,-1.008721,1.870624,-0.021133,-0.997232,-1.014112,-1.002286,-1.005672,0.114890,-1.249333,-0.771331,-0.410107
3,2014-01-07,10107,MSFT,-1.006139,1.417816,0.007750,-1.000854,-1.013171,-1.007130,-1.007056,0.121232,0.409965,-0.839528,-0.498392
4,2014-01-08,10107,MSFT,-1.012134,2.840056,-0.017852,-1.004023,-1.019098,-1.010129,-1.011579,0.106510,-1.060843,-0.807703,-0.448952

In [107]:
industry_classification = {
    'AAPL': 'Technology', 
    'CRM': 'Technology', 
    'CSCO': 'Technology', 
    'IBM': 'Technology', 
    'INTC': 'Technology', 
    'MSFT': 'Technology', 
    'TSLA': 'Technology', 
    'AMGN': 'Healthcare', 
    'JNJ': 'Healthcare', 
    'MRK': 'Healthcare', 
    'UNH': 'Healthcare', 
    'AXP': 'Financial Services', 
    'GS': 'Financial Services', 
    'JPM': 'Financial Services', 
    'TRV': 'Financial Services', 
    'Visa': 'Financial Services', 
    'KO': 'Consumer Goods', 
    'MCD': 'Consumer Goods', 
    'NKE': 'Consumer Goods', 
    'WMT': 'Consumer Goods', 
    'BA': 'Industrial', 
    'CAT': 'Industrial', 
    'HD': 'Industrial', 
    'HON': 'Industrial', 
    'MMM': 'Industrial', 
    'CVX': 'Energy', 
    'VZ': 'Telecommunications', 
    'DIS': 'Entertainment',
    'PG': 'Consumer Goods'
}

df_scaled['industry'] = df_scaled['ticker'].map(industry_classification)

# Display the DataFrame with the added 'industry' column
df_scaled

,date,permno,ticker,price,volume,return,high,low,open,avg_price,mkt_cap,pct_return,name_price_attention,volatility,industry
0,2014-01-02,10107,MSFT,-0.999221,1.117934,-0.006683,-0.992613,-1.004799,-0.997672,-0.998750,0.138220,-0.419196,-0.712226,-0.494860,Technology
1,2014-01-03,10107,MSFT,-1.001527,1.148820,-0.006728,-0.994243,-1.009502,-0.999057,-1.001888,0.132557,-0.421781,-0.816796,-0.438358,Technology
2,2014-01-06,10107,MSFT,-1.008721,1.870624,-0.021133,-0.997232,-1.014112,-1.002286,-1.005672,0.114890,-1.249333,-0.771331,-0.410107,Technology
3,2014-01-07,10107,MSFT,-1.006139,1.417816,0.007750,-1.000854,-1.013171,-1.007130,-1.007056,0.121232,0.409965,-0.839528,-0.498392,Technology
4,2014-01-08,10107,MSFT,-1.012134,2.840056,-0.017852,-1.004023,-1.019098,-1.010129,-1.011579,0.106510,-1.060843,-0.807703,-0.448952,Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70443,2023-12-22,93436,TSLA,0.987315,4.839072,-0.007701,1.007054,1.010913,1.026814,1.009108,1.487330,-0.477679,1.333706,0.661674,Technology
70444,2023-12-26,93436,TSLA,1.024855,4.456557,0.016116,1.004790,1.025400,1.005868,1.015061,1.522637,0.890583,1.421389,0.345613,Technology
70445,2023-12-27,93436,TSLA,1.069404,5.616361,0.018822,1.053419,1.068768,1.041484,1.061117,1.564538,1.046040,1.772121,0.479808,Technology
70446,2023-12-28,93436,TSLA,0.993218,6.031629,-0.031594,1.069629,1.023519,1.090480,1.047180,1.492882,-1.850306,1.567527,1.645167,Technology
70447,2023-12-29,93436,TSLA,0.949868,5.264589,-0.018564,0.979616,0.973848,1.011497,0.976943,1.452110,-1.101747,1.333706,0.822354,Technology

In [108]:
df_scaled.isna().any()

date                    False
permno                  False
ticker                  False
price                   False
volume                  False
return                  False
high                    False
low                     False
open                    False
avg_price               False
mkt_cap                 False
pct_return              False
name_price_attention    False
volatility              False
industry                False
dtype: bool

In [109]:
df_scaled.to_csv("stocks_combined_scaled.csv")

In [4]:
#Scaling the data for crypto

In [1]:
df_crypto = pd.read_csv("complete_crypto_data.csv")
df_crypto['Date'] = pd.to_datetime(df_crypto['Date'])

# Sort DataFrame by 'Date' column in ascending order
df_crypto = df_crypto.sort_values(by=['crypto_name', 'Date']).reset_index(drop=True)
# Add the return  
df_crypto['return'] = round(df_crypto.groupby('crypto_name')['Price'].pct_change() * 100,3)
df_crypto['return'].replace([np.inf, -np.inf], 0, inplace=True)

df_crypto['return'] = df_crypto['return'].fillna(0)

df_crypto.head()

NameError: name 'pd' is not defined

In [113]:
df_crypto.dtypes

Date                    datetime64[ns]
Price                          float64
Volume                         float64
Market_cap                     float64
crypto_name                     object
name_price_attention           float64
return                         float64
dtype: object

In [104]:
# Select numerical columns for scaling
numerical_columns = ['Price', 'Volume', 'Market_cap', 'name_price_attention', 'return']

# Initialize the scaler
scaler = StandardScaler()

# Fit and transform the data
df_crypto[numerical_columns] = scaler.fit_transform(df_crypto[numerical_columns])

#checking if the scaling worked
df_crypto.head()

,Date,Price,Volume,Market_cap,crypto_name,name_price_attention,return
0,2019-06-21,-0.179309,-0.268262,-0.234533,Algorand,-0.366125,-0.009700
1,2019-06-22,-0.179021,-0.239189,-0.233562,Algorand,-0.499227,0.996449
2,2019-06-23,-0.179207,-0.226184,-0.233797,Algorand,-0.376773,-0.338734
3,2019-06-24,-0.179255,-0.234139,-0.233894,Algorand,-0.499227,-0.133554
4,2019-06-25,-0.179345,-0.242704,-0.234003,Algorand,-0.499227,-0.275601

In [115]:
df_crypto.shape

(52892, 7)

In [116]:
df_crypto = df_crypto.dropna()
df_crypto.shape

(50789, 7)

In [117]:
df_crypto.to_csv("crypto_combined_scaled.csv")